{% set cls = 'ds-social-network' %}
<nav class="{{ cls }}">
  <ul class="{{ cls }}-list">
    <li class="{{ cls }}-item">
      <a class="{{ cls }}-link" href="https://www.facebook.com/khersonstateuniversity/?locale=ua_UA" target="_blank">
        <img src="/themes/custom/drupalsite/assets/images/facebook_png.png"  alt="https://facebook.com"/>
      </a>
    </li>
    <li class="{{ cls }}-item">
      <a class="{{ cls }}-link" href="https://www.instagram.com/kherson_state_university/" target="_blank">
        <img src="/themes/custom/drupalsite/assets/images/instagram_png.png"  alt="https://instagram.com"/>
      </a>
    </li>
    <li class="{{ cls }}-item">
      <a class="{{ cls }}-link" href="https://twitter.com" target="_blank">
        <img src="/themes/custom/drupalsite/assets/images/twitter_png.png"  alt="https://twitter.com"/>
      </a>
    </li>
    <li class="{{ cls }}-item">
      <a class="{{ cls }}-link" href="https://www.youtube.com/channel/UCE67KrR6NiksNLZk1gczkZQ" target="_blank">
        <img src="/themes/custom/drupalsite/assets/images/youtube_png.png"  alt="https://youtube.com"/>
      </a>
    </li>
  </ul>
</nav>
