{% set cls = 'ds-social-network' %}
<nav class="{{ cls }}">
  <ul class="{{ cls }}-list">
    <li class="{{ cls }}-item">
      <a class="{{ cls }}-link" href="https://facebook.com" target="_blank">
        <img src="themes/custom/drupalsite/assets/images/facebook_png.png">
      </a>
    </li>
    <li class="{{ cls }}-item">
      <a class="{{ cls }}-link" href="https://instagram.com" target="_blank">
        <img src="themes/custom/drupalsite/assets/images/instagram_png.png">
      </a>
    </li>
    <li class="{{ cls }}-item">
      <a class="{{ cls }}-link" href="https://twitter.com" target="_blank">
        <img src="themes/custom/drupalsite/assets/images/twitter_png.png">
      </a>
    </li>
    <li class="{{ cls }}-item">
      <a class="{{ cls }}-link" href="https://youtube.com" target="_blank">
        <img src="themes/custom/drupalsite/assets/images/youtube_png.png">
      </a>
    </li>
  </ul>
</nav>
